@mixin dark-theme {
    --c-normal: gold;
    --c-text: hsl(var(--hue-theme) 0% 100%);
    --c-text-1: hsl(var(--hue-theme) 0% 90%);
    --c-text-2: hsl(var(--hue-theme) 0% 70%);
    --c-text-3: hsl(var(--hue-theme) 0% 50%);
    --c-bg: hsl(var(--hue-theme) 0% 5%);
    --c-bg-1: hsl(var(--hue-theme) 15% 10%);
    --c-bg-2: hsl(var(--hue-theme) 10% 15%);
    --c-bg-3: hsl(var(--hue-theme) 10% 25%);
    --c-bg-soft: hsl(var(--hue-theme) 100% 95% / 15%);
    --c-border: hsl(var(--hue-theme) 10% 20%);
    --c-bg-a50: hsl(var(--hue-theme) 10% 10% / 50%);
    --c-bg-a80: hsl(var(--hue-theme) 10% 10% / 80%);
    --c-primary: hsl(var(--hue-theme) 100% 70%);
    --c-primary-soft: hsl(var(--hue-theme) 100% 60% / 30%);
    --ld-bg-blur: var(--c-bg-a80);
    --ld-bg-card: var(--c-bg-3);
    --ld-bg-active: var(--c-primary-soft);
    --ld-shadow: var(--c-bg-a50);
    --sb-color:  rgba(0, 0, 0, 0.3);
    --bg-a: hsla(var(--hue-theme), 0%, 3%, 0.7);
}

:root,
.light {
    --hue-theme:210deg;
    --c-normal: blue;
    --c-text: hsl(var(--hue-theme) 0% 0%);
    --c-text-1: hsl(var(--hue-theme) 0% 20%);
    --c-text-2: hsl(var(--hue-theme) 0% 40%);
    --c-text-3: hsl(var(--hue-theme) 0% 70%);
    --c-bg: hsl(var(--hue-theme) 0% 98%);
    --c-bg-1: hsl(var(--hue-theme) 10% 95%);
    --c-bg-2: hsl(var(--hue-theme) 10% 90%);
    --c-bg-3: hsl(var(--hue-theme) 10% 85%);
    --c-bg-soft: hsl(var(--hue-theme) 20% 20% / 10%);
    --c-border: hsl(var(--hue-theme) 10% 91%);
    --c-bg-a50: hsl(var(--hue-theme) 20% 98% / 50%);
    --c-bg-a80: hsl(var(--hue-theme) 20% 98% / 80%);
    --c-primary: hsl(var(--hue-theme) 100% 55%);
    --c-primary-soft: hsl(var(--hue-theme) 100% 60% / 15%);
    --c-accent: hsl(180deg 70% 60%);
    --ld-bg-blur: var(--c-bg-1);
    --ld-bg-card: var(--c-bg);
    --ld-bg-active: var(--c-bg);
    --ld-shadow: var(--c-bg-soft);
    --sb-color:  rgba(250, 250, 250, 0.4);
    --bg-a: hsla(var(--hue-theme), 0%, 98%, 0.7);
    --bg-shadow-1: rgba(0, 0, 0, 0.6);
    --bg-shadow-2: rgba(0, 0, 0, 0.3);
}

.dark {
    @include dark-theme;

    color-scheme: dark;

    .shiki span {
        // background-color: var(--shiki-dark-bg) !important; /* stylelint-disable-line declaration-no-important */
        color: var(--shiki-dark) !important; /* stylelint-disable-line declaration-no-important */
    }
}
